html {
  color: #85d5f1;
}
a {
  color: #01b2f1;
  text-decoration: none;
}
.title {
  color: #39cbff;
}
.randomOTherColor {
  color: #0091c5;
}
.blizzButton {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #15F3FF),
    color-stop(1, #017CB9)
  );
  background-image: -o-linear-gradient(bottom, #15F3FF 0%, #017CB9 100%);
  background-image: -moz-linear-gradient(bottom, #15F3FF 0%, #017CB9 100%);
  background-image: -webkit-linear-gradient(bottom, #15F3FF 0%, #017CB9 100%);
  background-image: -ms-linear-gradient(bottom, #15F3FF 0%, #017CB9 100%);
  background-image: linear-gradient(to bottom, #15F3FF 0%, #017CB9 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: 234px;
  margin: 10px auto;
  height: 53px;
  line-height: 50px;
  font-family: 'century gothic',verdana;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: none;
}






.slide-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
     -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
       -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
          transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}
.slide-enter-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
     -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
       -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
          transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.slide-enter-setup {
  position: absolute;
  left: 1300px;
}

.slide-enter-start {
  left: 0;
}

.slide-leave-setup {
  position: absolute;
  left: -1700px;
}

.slide-leave-start {
  right: 0;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
}
.navLinks {
  cursor: pointer;
}

#slideshow {
    width: 1330px;
    height: 700px;
    background: white;
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

}

#slides {
    margin-left: 237px;
    position: relative;
}

#slideshow .nav {
    position: absolute;
    background-color: #141414;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 206px;
    height: 100%;
    z-index: 10;
}

#slideshow .nav ul.questList{


}
#slideshow .nav li {
  color: #fff;
  text-decoration: none;
}
.quickTitles {
  color: #fff;
  text-align: center;
  font-weight: bold;
padding: 12px 12px 10px 12px;
}

#slideshow .nav .quickFact ul {
  list-style-image: url('../images/redbullet.png');
}


#slideshow .nav ol {
  
  color: #FFD100;
}
#slideshow .nav li {

line-height: 1.75em;
}




#slideshow .nav ol a {
  color: #FFD100;
  font-family: Arial,sans-serif;
  text-decoration: underline;
}
#slideshow .nav ol a:hover,.startQuest a:hover, .endQuest a:hover {
  color: #fff;
}

.tempWrapper {
  width: 1093px;
}

.clear {
  clear:both;
}

.call {
  width: 50%;
  height: 609px;
  background-color: #000;
  float: left;
  color: #fff;
}
.imgSlider {
  width: 50%;
  height: 609px;
  background-color: #000;
  float: left;
  color: #fff;
  overflow: hidden;
}
.innerSlider {
  padding-top: 13%;
padding-left: 5%;
}
.next {
  float: right;
}
.introFooter {
  text-align: center;
  background-color: #ccc;
  height: 100px;
}
.factionSide {
  background-image: url(../images/icon_blizzard.gif);
  padding-left: 24px;
}
.startQuest {
  background-image: url(../images/quest_start.gif);
}
.endQuest {
    background-image: url(../images/quest_end.gif);
}
.listBacks {
  padding-left: 17px;
}
.listExtras {
  background-repeat: no-repeat;
  background-position: left bottom 1px;
}


.startQuest a, .endQuest a {
  color: #FFD100;
  text-decoration: underline;
}
.slideshow {
  font-family: "Arial", sans-serif;
  text-align: center;
  position:relative;
  width:700px;
  overflow:hidden;
  background: #1a1a1a;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: .3em;
  margin-top: 30px;
}

.imageslide{
  width:600px;
  height:400px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow:hidden;
  position:relative;
  text-align: center;
}

.imageslide .slider-content {
  position: absolute;
  width:100%;
  height:400px;
  
}

.animate-enter,.animate-leave {
  -webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
  left: 1300px;
}

.animate-enter.animate-enter-active {
  left:0;
}

.animate-leave {
  left:0;
}

.animate-leave.animate-leave-active {
  margin-left: -1700px;
}


.rotate {

/* Safari */
-webkit-transform: rotate(-32deg);

/* Firefox */
-moz-transform: rotate(-32deg);

/* IE */
-ms-transform: rotate(-32deg);

/* Opera */
-o-transform: rotate(-32deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}



.currentLink {
  color: #ccc !important;
  text-decoration: none !important;
  font-weight: bold;
  cursor: text;
}


#slideshow .nav ol a.currentLink {
    text-decoration: none !important;

}

.leftCol, .middleCol, .rightCol {
  display: block;
  width: 100%;
  height: 33%;
  color: #fff;
}
.leftCol, .middleCol, .rightCol {
  color: #fff;
}

.leftCol {


}
.middleCol {


}
.rightCol {
 
}

.colWrap {
    background-image: url(../images/bg/Warcraft-3-HD-Wallpaper.jpg);
  background-position: -47%;
  background-color: #000;
  background-repeat: no-repeat;
  color: #85d5f1;
  height: 700px;
}

.titleH2 {
  font-size: 31.5px;/*h2*/
  padding: 17px;
  margin-left: 20%;
}
.colWrap p {
  width: 47%;
margin-left: 3%;
}
.resOdd, .resEven{
  width: 100%;
  height: 130px;
  overflow: hidden;
}
.resumeHeader {
  width: 100%;
  height: 50px;
}

.resOdd {
  background-color: #000;
  color: #fff;

}
.posInfo {
  width: 15%;
}
.accomp, .respons {
  width: 40%;
  text-align: center;
}

.posInfo, .accomp, .respons {
  float: left;
}
.have, .ask {
  float: left;


}

.have {
  width: 30%;

}
.ask {
  width: 22%;
}
.qOdd {
  background-color: #000;
  color: #fff;
}

.qEven {
  background-color: #fff;
  color: #000;
}


.have .qEven {

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #000000 93%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(93%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 0%,#000000 93%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ffffff 0%,#000000 93%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ffffff 0%,#000000 93%); /* IE10+ */
background: linear-gradient(to right, #ffffff 0%,#000000 93%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
.qOdd, .qEven {
  height: 70px;
}
.qOdd a {
  color: #fff;
  text-decoration: underline;
}
.qEven a {
color: #000;
text-decoration: underline;
}

.have p {
  padding-left: 10px;
  line-height: 16px;
}


.random {
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ffffff 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ffffff 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to right, #ffffff 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

ol.questList {
  padding-left: 9px;
}

.screenshotThumb {
  color: #fff;
  width: 50%;
  margin: auto;
  padding-top: 10%;
}
.screenTitle {
  padding-bottom: 7%;
}




.enter-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(100%,0,0) ;
}
.enter-setup.enter-start {
    position:absolute;
    -webkit-transform:translate3d(0,0,0) ;
}
.leave-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(0,0,0);
}
.leave-setup.leave-start {
    position:absolute;
    -webkit-transform:translate3d(-100%,0,0);
}





