<!DOCTYPE html> 
<html ng-app="MyApp">
<head>
  <title>ng-animate slideshow</title>
  <link href="css/base.css" rel="stylesheet">
  <link href="css/vendor/bootstrap.css" rel="stylesheet">
  <link href="css/vendor/bootstrap-responsive.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="js/controllers/main.controler.js"></script> 
  <script src="js/controllers/screenshots.controller.js"></script> 
  <script src="js/directives/lightbox.directive.js"></script> 
  <script src="js/vendor/angular-ui.js"></script> 
  <script src="http://code.angularjs.org/1.1.2/angular-sanitize.js"></script>
  <script src="js/vendor/ui-bootstrap-custom-tpls-0.6.0.js"></script> 
  <script src="js/vendor/bootstrap.js"></script> 
  <script src="js/jq.js"></script>


</head>

<body>

  <div ng-controller="MyController" ng-init="imageToShow = 1">


    <div ng-view>
    </div><!--end view-->

    
  <div id="slideshow">

      <div class = "pages">
          <div id="slides" ng-switch="imageToShow" ng-animate="'slide'">
          	<div class = "one" ng-switch-when="1"><div ng-include src="'js/templates/intro.html'"></div></div>
            <div class = "two" ng-switch-when="2"><div ng-include src="'js/templates/why.html'"></div></div>
            <div class = "three" ng-switch-when="3"><div ng-include src="'js/templates/resume.html'"></div></div>
            <div class = "four" ng-switch-when="4"><div ng-include src="'js/templates/qualified.html'"></div></div>
            <div class = "five" ng-switch-when="5"><div ng-include src="'js/templates/contact.html'"></div></div>
          </div><!--end slides-->
      </div><!--end pages-->

 <div class = "nav">
      <div class = "prep">
        <div class ="prepTitle quickTitles"> Quick Facts</div>
          <div class = "quickFact">
            <ul>
                <li>Level: 90</li>
                <li>Required: 90+</li>
                <li>Side: <span class = "factionSide listExtras">Blizz</span></li>
                <li>Start:<span class = "startQuest listBacks listExtras"><a href="#" ng-click="imageToShow = 1" class = "intro currentLink navLinks">Intro</a></li>
                <li>End:<span class = "endQuest listBacks listExtras navLinks"><a href="#" ng-click="imageToShow = 5" class = "contact">Contact me</a></li>
            </ul>
        </div><!--end quickfact-->
      </div><!--end prep-->
      <div class = "series">
      <div class = "seriesTitle quickTitles">Series</div>
        <ol class = "questList">
            <li><a href="#" ng-click="imageToShow = 1" class = "intro currentLink navLinks" data-otherdiv="first">Intro</a></li>
            <li><a href="#" ng-click="imageToShow = 2" class = "why navLinks" data-otherdiv="second">Why</a></li>
            <li><a href="#" ng-click="imageToShow = 3" class = "resume navLinks" data-otherdiv="third">Res</a></li>
            <li><a href="#" ng-click="imageToShow = 4" class = "qualified navLinks" data-otherdiv="fourth">How</a></li>
            <li><a href="#" ng-click="imageToShow = 5" class = "contact navLinks" data-otherdiv="fifth">Contact me</a></li>
        </ol>
    </div><!--end series-->
      <div class = "screenshots">
          <div ng-controller = "screenShots" ng-init="light = false">
            <div class = "screenshotThumb" >
              <img ng-src = "{{shots.image}}" alt = "{{screenShots.text}}" ng-click = "lightbox()"/>
            </div><!--end thumb-->
            <div class = "ligthbox">
              <!--<div ng-include ="'js/templates/lightbox.html'"></div>--><!--end lightbox temp-->
            </div><!--end lightbox-->
          </div><!--end screenshots-->
      </div><!--end screenshots-->
    </div><!--end nav-->

    </div><!--end slideshow-->
  </div><!--end main controller-->

</body>
</html>

