<div class = "tempWrapper">
	<div class ="contactInnerWrapper">
		<img src ="images/my-body-is-ready.png" alt = "#" />
		<div class ="contactText">
			<p class ="ready">
				Blizz, I am ready!
			</p>
			<p>
				Lets sit down and talk about this position.
			</P>
		
			<div class = "contact">
				<div class = "phone">Phone: (612)861-7372</div>
				<div class = "phone twitter"><a href = "https://twitter.com/arttaylor09" target = "_blank">@arttaylor09</a></div>
				<div class = "email">Email: <a href="mailto:Arttay1090@gmail.com">Arttay1090@gmail.com</a></div>
			</div>
		</div><!--end contact Text-->
	</div><!--end innerWrapper-->
</div><!--end wrapper-->































