<div class = "tempWrapper">	
	<div class = "imgSlider">
		<div ng-controller="imgSlide">
			<carousel interval="myInterval">
		    	<slide ng-repeat="slide in slides" active="slide.active">
		      	<img ng-src="{{slide.image}}" style="margin:auto;">
		   		</slide><!--end slide-->
		  </carousel>
		</div><!--end controller img slide-->
	</div><!--end img slider-->
	<div class = "call"><div class = "rotate"> 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the</div>
	</div><!--end call-->
	<div class = "clear"></div><!--yay clearfix-->
	<div class = "introFooter">
<a href = "http://us.blizzard.com/en-us/company/careers/posting.html?id=13000CA">job link</a>


	</div>

</div>

