<div class = "tempWrapper">	
	<div class = "imgSlider">
		<div ng-controller="imgSlide" class = "innerSlider">
			<carousel interval="myInterval">
		    	<slide ng-repeat="slide in slides" active="slide.active">
		      	<img ng-src="{{slide.image}}" style="margin:auto;">
		   		</slide><!--end slide-->
		  </carousel>
		</div><!--end controller img slide-->
	</div><!--end img slider-->
	<div class = "call"><div class = "rotate">Blizz, I love your game, <br />your company <br />and your universe. <br />I would love to join your guild!</div>
	</div><!--end call-->
	<div class = "clear"></div><!--yay clearfix-->
	<div class = "introFooter">
<a href = "http://us.blizzard.com/en-us/company/careers/posting.html?id=13000CA">job link</a>


	</div>

</div>

