<div class = "tempWrapper">
  <div ng-controller = "qualif" class = "qualBG">
    <div class = "ask">
      <div ng-repeat = "q in wAsk" class = "qCell">
      	<div ng-class-even = "'qEven'" ng-class-odd="'qOdd'">
      		<p >{{q.what}}</p>
      	</div><!--end odd even-->
      </div><!--end ng repeat-->
    </div><!--end ask-->
        <div class = "have">
      <div ng-repeat = "q in wHave">
        <div ng-class-even = "'qEven'" ng-class-odd="'qOdd'">
          <p ng-bind-html="q.what"><!-- q.what is inserted here(hur)<_< --></p><!--ng-bind-html allows for html in the controller-->
        </div><!--end odd/even-->
      </div><!--end ng repeat-->
    </div><!--end have-->
  </div><!--end controller-->
</div>
<!--7 must 7 op-->

