<div class = "tempWrapper">
	<div ng-controller = "resume">
	<div class = "resWrapper">
		<div class = "resumeHeader">
			<div class = "posHeaderInfo resHeader">Position Info</div>
			<div class = "posAccomInfo resHeader">My Accomplishments</div>
			<div class = "posResponsInfo resHeader">My Responsibilities</div>

		</div>
		<div ng-repeat="info in compInfo">
			<div class = "{{info.posComp}}" ng-class-odd = "'resOdd'" ng-class-even = "'resEven'">
				<div class = "posInfo">
					<div class ="posTitle"><h2>{{info.posTitle}}</h2></div><!--end title-->
					<div class = "posCompany">
						<a href = "{{info.link}}"><h3>{{info.posComp}}</h3></a>
					</div><!--end company-->
					<div class = "posDates">{{info.posDates}}</div><!--end dates-->
				</div><!--end pos info-->
				<div class = "respons">
					{{info.respons}}
				</div><!--end responsibilities-->
				<div class = "accomp">
					{{info.accomp}}
				</div><!--end Accomplishments-->
				<div class = "clear"></div><!--clearfix-->
			</div><!--end info.posComp-->
		</div><!--end ng-repeat-->
	</div><!--end res wrapper-->
</div><!--end controller-->





</div><!--emd temp wrapper-->