<div class = "tempWrapper">
	<div class = "resWrapper">
		<div class = "resumeHeader">
			heading
		</div>
		<div class = "target odd">
			<div class = "posInfo">
					<div class ="posTitle"><h2>Web Dev</h2></div><!--end title-->
					<div class = "posCompany">
						<a href = "#"><h3>Target</h3></a>
					</div><!--end company-->
					<div class = "posDates">2013-pres</div><!--end dates-->
			</div><!--end pos info-->
			<div class = "respons">
				res
			</div><!--end responsibilities-->
			<div class = "accomp">
				acpp
			</div><!--end Accomplishments-->
			<div class = "clear"></div><!--clearfix-->
		</div><!--end target 1-->
		<div class = "polaris even">
			polaris
		</div><!--end polaris 2-->
		<div class = "fuzzyDuck odd">
			duck
		</div><!--end fuzzy duck 3-->
		<div class = "redhawk even">
			hawk
		</div><!--end redhawk 4-->
		<div class = "school odd">
			school
		</div><!--end school 5-->
	</div><!--end res wrapper-->





</div><!--emd temp wrapper-->