<div class = "tempWrapper">
	<div ng-controller = "resume">
	<div class = "resWrapper">
		<div class = "resumeHeader">
			<div class = "posHeaderInfo resHeader">Position Info</div>
			<div class = "posAccomInfo resHeader">My Accomplishments</div>
			<div class = "posResponsInfo resHeader">My Responsibilities</div>

		</div>
		<div ng-repeat="info in compInfo">
			<div class = "{{info.posComp}}" ng-class-odd = "'resOdd'" ng-class-even = "'resEven'">
				<div class = "posInfo">
					<div class ="posTitle">{{info.posTitle}}</div><!--end title-->
					<div class = "posCompany">
						<a href = "{{info.link}}">{{info.posComp}}</a>
					</div><!--end company-->
					<div class = "posDates">{{info.posDates}}</div><!--end dates-->
				</div><!--end pos info-->
				<div class = "accomp">
					<div class = "resInner">
						{{info.accomp}} 
					</div>
				</div><!--end responsibilities-->
				<div class = "respons">
					<div class = "resInner">
					 {{info.respons}}
					</div>
				</div><!--end Accomplishments-->
				<div class = "clear"></div><!--clearfix-->
			</div><!--end info.posComp-->
		</div><!--end ng-repeat-->
	</div><!--end res wrapper-->
</div><!--end controller-->





</div><!--emd temp wrapper-->