<div class = "tempWrapper">	
	<div class = "colWrap">
		<div class = "leftCol">
				<div class = "whyTitle titleH2">I love your Games</div>
<p>Whenever you talk to someone in my generation about video games, there are always certain ones that define them; odds are Warcraft, Starcraft and Diablo are among them. That is True for me, I love every bit of these 3 games, and want to make them better. I want to help define childhood for another generation like your games defined mine.</P>
		</div><!--end leftCol-->
		<div class = "middleCol">
			<div class = "whyTitle titleH2">I love your Company</div>
<p>Blizzard is well known for saying Soon<sup>tm</sup>. But this stems from Blizzard caring deeply about creating a polished product, they care about giving a good product to their fans. Apart from creating near perfect products, it clear that Blizzard cares for humanity, donating proceeds from auctions and warcraft vanity pet sales to charities and  national disaster relief.</P>
		</div><!--end middle-->
		<div class = "rightCol">
			<div class = "whyTitle titleH2">I love yuor Universe</div>
<p>Like said above, I love your games, and to go further, the universes that make up each game. There are over 100 thousand combined pages on the Diablo, Starcraft and Warcraft wiki; I cant count the number of hours spend reading the lore behind each of them...and loving it. The point is I want to help expand these worlds that mean so much to so many.</P>
		</div><!--end right-->
		<div class = "clear"></div>
</div><!--end col wrap-->

</div><!--end tempWrapper-->

