<div class = "tempWrapper">	
	<div class = "colWrap">
		<div class = "leftCol">
				<div class = "whyTitle titleH2">Point 1</div>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureit over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscu </P>
		</div><!--end leftCol-->
		<div class = "middleCol">
			<div class = "whyTitle titleH2">point 2</div>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literatureit over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscu</P>
		</div><!--end middle-->
		<div class = "rightCol">
			<div class = "whyTitle titleH2">point 3</div>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscu
	it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscur</P>
		</div><!--end right-->
		<div class = "clear"></div>
</div><!--end col wrap-->

</div><!--end tempWrapper-->

